# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Atlas Connection String
# Example: mongodb+srv://<username>:<password>@cluster0.mongodb.net/questionbank?retryWrites=true&w=majority
MONGODB_URI=

# Cloudinary Storage Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Admin Authentication
ADMIN_USERNAME=admin
ADMIN_PASSWORD=2141
ADMIN_TOKEN=qbank-admin-secret-token-session-key
